
{% extends "base_page.html" %}

{% block title %}Delete Movie{% endblock %}

{% block content %}

<h1>Delete Movie</h1>

<form method="post" class="form">

    {% csrf_token %}

    {% for field in form %}

        <div class="form-group">

        {{ field.errors }}

        {{ field.label_tag }}

        {{ field }}

        </div>

    {% endfor %}

    <input type="submit" onclick="return confirm('Are you sure?')" />
    <INPUT TYPE="button" VALUE="Back" onClick="history.go(-1);"> 
    <!--<input type="submit" value="Submit" />
    <input type="submit" onclick="return confirm('Are you sure?')" />
    <input type="button" name="cancel" value="Cancel" onClick="window.location='/index.html';" />
    <input type="button" name="cancel" value="cancel" onClick="movie_list.html"; />-->


</form>

{% endblock %}
<!--<form method="post">{% csrf_token %}
    Are you sure you want to delete "{{ object }}" ?
    <input type="submit" value="Submit" />
</form>-->
